<div class="h-full" [ngClass]="{'dark': isDarkMode}">
    <div class="dark:bg-blue-950 h-full w-full" >
        <div class="pl-5 pt-5">
            <img *ngIf="isDarkMode"
                (click)="toggleDarkMode()"
                src="assets/sun-regular.svg" 
                class="cursor-pointer" 
                width="25px">
            <img *ngIf="!isDarkMode" 
                (click)="toggleDarkMode()"
                src="assets/moon-regular.svg" 
                class="cursor-pointer" 
                width="20px">
        </div>
        <div class="flex justify-center">
            
            <div class="calculator-container shadow-xl rounded-xl border dark:border-blue-800 border-blue-500">        
                <div class="h-[6rem] p-4 dark:bg-blue-600 bg-blue-300 rounded-t-lg">
                    <div class="overflow-hidden dark:bg-blue-400 bg-blue-100 border border-blue-500 h-full rounded-xl flex justify-end items-center pr-7 text-4xl">
                    {{display}}
                    </div>
                </div>
                <div class="grid grid-rows-5 grid-cols-4 grid-flow-row gap-4 text-lg font-bold p-6">
                    <button class="h-[3rem] border border-blue-500 col-span-2 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="clear()">Clear</button>
                    <button class="h-[3rem] border border-orange-500 rounded-lg dark:bg-orange-600 bg-orange-300" (click)="addToDisplay('*')">*</button>
                    <button class="h-[3rem] border border-orange-500 rounded-lg dark:bg-orange-600 bg-orange-300" (click)="addToDisplay('+')">+</button>

                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('7')">7</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('8')">8</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('9')">9</button>
                    <button class="h-[3rem] border border-orange-500 rounded-lg dark:bg-orange-600 bg-orange-300" (click)="addToDisplay('/')">/</button>

                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('4')">4</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('5')">5</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('6')">6</button>
                    <button class="h-[3rem] border border-orange-500 rounded-lg dark:bg-orange-600 bg-orange-300" (click)="addToDisplay('-')">-</button>

                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('1')">1</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('2')">2</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('3')">3</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="calculateExpression()">=</button>

                    <button class="h-[3rem] col-span-2 border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('0')">0</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay('(')">(</button>
                    <button class="h-[3rem] border border-blue-500 rounded-lg dark:bg-blue-600 bg-blue-300" (click)="addToDisplay(')')">)</button>
                </div>
            </div>
        </div>
    </div>
</div>


